<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.autentia.example" level="DEBUG"/>
	<logger name="io.micronaut.context.condition" level="INFO"/>
	<logger name="io.micronaut.security.utils" level="INFO"/>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
